<!DOCTYPE html>
<html>
  <head></head>
  <body>

    <form action="bannerParameter" enctype="multipart/form-data" method="post">
        <label>
            baner序号：<input type="text" name="order" placeholder="baner序号"><br>
        </label>

        <label>
            baner编号：<input type="text" name="bannerserial" placeholder="baner编号" ><br>
        </label>
        
        <label>
            banner标题：<input type="text" name="bannername" placeholder="banner标题"> <br>
        </label>

        <label>
            banner副标题：<input type="text" name="bannersubname" placeholder="banner副标题">
        </label>

        <label>
            运营商编号：<input type="text" name="operatorid" placeholder="运营商编号"><br>
        </label>

        <label>
            banner详细描述：<input type="text" name="description" placeholder="banner详细描述" ><br>
        </label>

        <label>
            bannerurl：<input type="text" name="bannerurl" placeholder="bannerurl" ><br>
        </label>

        <label>
            linktype：<input type="text" name="linktype" placeholder="linktype" ><br>
        </label>

        <label>
            status：<input type="text" name="status" placeholder="status" ><br>
        </label>

        <label>
            bannertype：<input type="text" name="bannertype" placeholder="横幅类型" ><br>
        </label>

        <label>
            rolnumber：<input type="text" name="rolnumber" placeholder="第几排" ><br>
        </label>

        <label>
            上传banner图片：<input type="file" name="pic1" id='pic1' accept="image/png, image/jpeg" autocomplete="on"><br>
        </label>

        <input type="submit" value="添加banner"><br>
    </form>
  </body>
</html>