<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.7.1.js"></script>
  </head>

  <body>
    <form action="logAddMoneyParameter" enctype="multipart/form-data" method="post">
        <label>
            充值的用户id：<input type="text" name="userid" placeholder="充值的用户id" ><br>
        </label>

        <label>
            运营商 ID：<input type="text" name="storeid" placeholder="运营商 ID" ><br>
        </label>
        
        <label>
            操作员 id：<input type="text" name="operatorid" placeholder="操作员 id" > <br>
        </label>

        <label>
            充值用户名字：<input type="text" name="username" placeholder="充值用户名字" ><br>
        </label>

        <label>
            操作员名字：<input type="text" name="operatorname" placeholder="操作员名字" ><br>
        </label>

        <label>
            充值前金额：<input type="text" name="beforeprice" placeholder="充值前金额" ><br>
        </label>

        <label>
            充值金额：<input type="text" name="price" placeholder="充值金额" ><br>
        </label>

         <label>
            充值后金额：<input type="text" name="afterprice" placeholder="充值后金额" ><br>
        </label>

        <input type="submit" value="提交"><br>

    </form>

  </body>
</html>