<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.7.1.js"></script>
  </head>

  <body>
    <form action="merchantsRegistered" enctype="multipart/form-data" method="post">
        <label>
            保千里ID：<input type="text" name="userbqlid" placeholder="保千里ID"> <br>
        </label>

        <label>
            商户手机：<input type="text" name="usermobile" placeholder="商户手机"> <br>
        </label>
        
        <label>
            商户名称：<input type="text" name="useralias" placeholder="用户名称"> <br>
        </label>

        <label>
            商户邮箱：<input type="text" name="useremail" placeholder="用户名称"> <br>
        </label>

        <label>
            商户密码：<input type="text" name="password1" placeholder="用户密码"> <br>
        </label>

        <label>
            确认密码：<input type="text" name="password2" placeholder="确认密码"> <br>
        </label>

        <label>
            商户昵称：<input type="text" name="nickname" placeholder="用户昵称"> <br>
        </label>

        <label>
            商户真名：<input type="text" name="realname" placeholder="商用真名"> <br>
        </label>

        <label>
            商户头像：<input type="text" name="userpic" placeholder="用户头像"> <br>
        </label>

        <label>
            商户性别：<input type="text" name="sex" placeholder="用户性别"> <br>
        </label>

        <label>
            商户生日：<input type="text" name="birthday" placeholder="用户性别"> <br>
        </label>

        <label>
            所在省地：<input type="text" name="province" placeholder="所在省地"> <br>
        </label>

        <label>
            所在市地：<input type="text" name="city" placeholder="所在市地"> <br>
        </label>

        <label>
            所在地区：<input type="text" name="area" placeholder="所在地区"> <br>
        </label>

        <label>
            地址备注：<input type="text" name="straddress" placeholder="地址备注" ><br>
        </label>

        <label>
            用户地址：<input type="text" name="address" placeholder="用户地址"><br>
        </label>

        <input type="submit" value="商户注册"><br>
    </form>

  </body>
  <script type='text/javascript'>
    // $(function(){
    // var _URL = window.URL || window.webkitURL;
    // $("#pic1").change(function(e) {
    //     var file, img;
    //     if ((file = this.files[0])) {
    //         img = new Image();
    //         img.onload = function() {
    //             alert(this.width + " " + this.height);
    //         };
    //         img.onerror = function() {
    //             alert( "not a valid file: " + file.type);
    //         };
    //         img.src = _URL.createObjectURL(file);
    //     }
    // });
    // });

</script>
</html>