<!DOCTYPE html>
<html>
  <head></head>
  <body>

    <form action="themeNavigationParameter" enctype="multipart/form-data" method="post">

        <label>
            运营商商家商户 ID：<input type="text" name="storeid" placeholder="运营商商家商户 ID"><br>
        </label>    

        <label>
            名字描述：<input type="text" name="name" placeholder="名字描述"><br>
        </label>

        <label>
            描述：<input type="text" name="description" placeholder="cid:gid:name:picurl," ><br>
        </label>
        
        <label>
            导航图标路径：<input type="text" name="icon" placeholder="导航图标路径"> <br>
        </label>

        <label>
           链接：<input type="text" name="link" placeholder="链接"> <br>
        </label>

        <label>
            服务器链接：<input type="text" name="serverlink" placeholder="服务器链接"><br>
        </label>

        <label>
            排序：<input type="text" name="sortorder" placeholder="排序" ><br>
        </label>

        <label>
            是否可编辑：<input type="text" name="isedit" placeholder="1：是；0：否" ><br>
        </label>

        <label>
            是否可删除：<input type="text" name="isdelete" placeholder="1：是；0：否" ><br>
        </label>

        <label>
            是否启用：<input type="text" name="status" placeholder="1：是；0：否" ><br>
        </label>

        <input type="submit" value="添加主题导航栏"><br>
    </form>
  </body>
</html>