<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.7.1.js"></script>
  </head>

  <body>
    <form action="propertyTypeParameter" enctype="multipart/form-data" method="post">
        <label>
            规格名字：<input type="text" name="name" placeholder="eg:(颜色)" ><br>
        </label>

         <label>
            标签类型：<input type="text" name="valueoftype" placeholder="eg:(text)" ><br>
        </label>

        <label>
            标签名字：<input type="text" name="aliasname" placeholder="eg:(color,size)" ><br>
        </label>

        <label>
            描述信息：<input type="text" name="description" placeholder="eg:(用于描述商品颜色)" ><br>
        </label>

        <label>
            规格序号：<input type="text" name="sortorder" placeholder="eg:(1升序)" ><br>
        </label>

        <label>
            是否开启：<input type="text" name="isenable" placeholder="eg:(1:是,0:否)" ><br>
        </label>

         <label>
            运营商：<input type="text" name="storeid" placeholder="运营商id" ><br>
        </label>

        <label>
            规格状态：<input type="text" name="status" placeholder="eg:(true:启用,false:不启用)" > <br>
        </label>

        <input type="submit" value="提交商品规格"><br>
    </form>

  </body>
</html>