<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.7.1.js"></script>
  </head>

  <body>
    <form action="propertyValueParameter" enctype="multipart/form-data" method="post">
         <label>
            属性id：<input type="text" name="propertyid" placeholder="eg:(1)" ><br>
        </label>

        <label>
            属性值：<input type="text" name="propertyvalue" placeholder="eg:(red)" ><br>
        </label>

        <label>
            属性图片：<input type="text" name="propertyimage" placeholder="eg:(红色)" ><br>
        </label>

        <label>
            优先顺序：<input type="text" name="sortsorder" placeholder="eg:(1升序)" ><br>
        </label>

        <label>
            当前状态：<input type="text" name="status" placeholder="eg:(true:启用,false:不启用)" > <br>
        </label>

        <input type="submit" value="提交规格树形参数"><br>
    </form>

  </body>
</html>