<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.7.1.js"></script>
  </head>

  <body>
    <form action="regionParam" enctype="multipart/form-data" method="post">
        <label>
            行政代码：<input type="text" name="code" placeholder="行政代码" ><br>
        </label>

        <label>
            省份名称：<input type="text" name="province" placeholder="省份名称" ><br>
        </label>
        
        <label>
            城市名称：<input type="text" name="city" placeholder="城市名称" > <br>
        </label>

        <label>
            地区名称：<input type="text" name="district" placeholder="地区名称" ><br>
        </label>

        <label>
            父子层级：<input type="text" name="parent" placeholder="父子层级" ><br>
        </label>
        <input type="submit" value="提交"><br>

    </form>

  </body>
</html>